.card {
  margin-top: 7%;
  margin-left: 35%;
  max-width: 390px;
  /* margin: 0 auto; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color:#67accf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 4px;
}

.text-danger {
  color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Center the forgot password link */
.row.mb-4 .col {
  text-align: center;
}