[submodule "VDI-Issue-Tracker-App_Springboot_Angular_TechStack"]
	path = VDI-Issue-Tracker-App_Springboot_Angular_TechStack
	url = https://github.com/suhas275/VDI-Issue-Tracker-App_Springboot_Angular_TechStack
