.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #67accf; /* Set your desired background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style form fields */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

/* Center the submit button */
.text-center {
    text-align: center;
}

.successMessage{
    margin-top: 10px;
    background-color: #4fd34f;
    padding: 7px 15px;
    color: #023b02;
    border-radius: 5px;

  }