
<div class="container ">
  <!-- SuccessMessage -->
    <!-- <div *ngIf="showsuccessMessage" class="alert alert-success"><strong>Success!</strong>  </div> -->
    <div *ngIf="showSuccessMessage" class="alert alert-success">User registered successfully!</div>
<div *ngIf="showErrorForDuplicateUser" class="alert alert-danger">User already registered</div>

    
  <h2 class="text-center">Register Account</h2>
  <form #registerForm="ngForm" (ngSubmit)="userregister()" class="mx-auto">
    <div class="form-group">
      <!-- Associate ID -->
      <label for="associateId">Associate ID<span style="color: red">*</span></label>
      <input type="text" id="associateId" class="form-control" #associateId="ngModel" [(ngModel)]="user.associateId"
        name="associateId" required placeholder="Enter associate Id" pattern="^[0-9]+$" required />
      <div class="text-danger" *ngIf="
          (associateId.invalid && (associateId.touched || associateId.dirty)) ||
          isFormSubmited
        ">
        <span *ngIf="associateId.errors?.['required']">Required</span>
        <span *ngIf="associateId.errors?.['pattern']">Enter number </span>
      </div>
    </div>

    <!-- First Name -->
    <div class="form-group">
      <label for="firstName">First Name<span style="color: red">*</span></label>
      <input type="text" id="firstName" class="form-control" #firstName="ngModel" [(ngModel)]="user.firstName"
        name="firstName" placeholder="Enter your first name" minlength="3" required />
      <div class="text-danger" *ngIf="
          (firstName.invalid && (firstName.touched || firstName.dirty)) ||
          isFormSubmited
        ">
        <span *ngIf="firstName.errors?.['required']">Required</span>
        <span *ngIf="firstName.errors?.['minlength']">Min 3 Charactors Needed</span>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label for="lastName">Last Name<span style="color: red">*</span></label>
      <input type="text" id="lastName" class="form-control" #lastName="ngModel" [(ngModel)]="user.lastName"
        name="lastName" placeholder="Enter your last name" minlength="3" required />
      <div class="text-danger" *ngIf="
          (lastName.invalid && (lastName.touched || lastName.dirty)) ||
          isFormSubmited
        ">
        <span *ngIf="lastName.errors?.['required']">Required</span>
        <span *ngIf="lastName.errors?.['minlength']">Min 3 Charactors Needed</span>
      </div>
    </div>

    <!-- Email ID -->
    <div class="form-group">
      <label for="email">Email ID<span style="color: red">*</span></label>
      <input type="email" id="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" name="email"
        required placeholder="Enter your email address" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        required />
      <div class="text-danger" *ngIf="
          (email.invalid && (email.touched || email.dirty)) || isFormSubmited
        ">
        <span *ngIf="email.errors?.['required']">Required</span>
        <span *ngIf="email.errors?.['pattern']">Email Id is Not Proper</span>
      </div>
    </div>

    <!-- Contact Number -->
    <div class="form-group">
      <label for="contactNumber">Contact Number<span style="color: red">*</span></label>
      <input type="tel" id="contactNumber" class="form-control" #contactNumber="ngModel" [(ngModel)]="user.contactNo"
        name="contactNumber" required placeholder="Enter your contact number" pattern="[0-9]{10}" required />
      <div class="text-danger" *ngIf="
          (contactNumber.invalid &&
            (contactNumber.touched || contactNumber.dirty)) ||
          isFormSubmited
        ">
        <span *ngIf="contactNumber.errors?.['required']">Required</span>
        <span *ngIf="contactNumber.errors?.['pattern']">Enter 10 digit Number</span>
      </div>
    </div>

    <!-- userName -->
    <div class="form-group">
      <label for="userName">UserName<span style="color: red">*</span></label>
      <input type="text" id="userName" class="form-control" #userName="ngModel" [(ngModel)]="user.userName"
        name="userName" required placeholder="Choose a userName" minlength="3" required />
      <div class="text-danger" *ngIf="
          (userName.invalid && (userName.touched || userName.dirty)) ||
          isFormSubmited
        ">
        <span *ngIf="userName.errors?.['required']">Required</span>
        <span *ngIf="userName.errors?.['minlength']">Min 3 Charactors Needed</span>
      </div>
    </div>

    <!-- Password -->
  
    <div class="form-group">
      <label for="password">Password<span style="color: red">*</span></label>
      <input type="password" id="password" class="form-control" #password="ngModel" [(ngModel)]="user.password"
        name="password" required placeholder="Enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required />
    
      <div class="text-danger">
        <span *ngIf="password.invalid && (password.touched || password.dirty)">
          <span *ngIf="!hasLowercase()"><b>lowercase</b> letter <br></span>
          <span *ngIf="!hasUppercase()"><b>capital (uppercase)</b> letter<br> </span>
          <span *ngIf="!hasNumber()"><b>number<br></b></span>
          <span *ngIf="!hasMinimumLength()"> Minimum <b>8 characters</b></span>
        </span>
      </div>
    </div>
    
    <div class="form-group">
      <label for="confirmPassword">Confirm Password<span style="color: red">*</span></label>
      <input type="Password" id="confirmPassword" class="form-control" #confirmPassword="ngModel"
        [(ngModel)]="user.confirmPassword" name="confirmPassword" required placeholder="Enter your password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
         required />

      <div class="text-danger" *ngIf="
          (confirmPassword.invalid &&
            (confirmPassword.touched || confirmPassword.dirty)) ||
          isFormSubmited
        ">
       </div>
       <div ngClass="text-danger error-message" *ngIf="registerForm && user.confirmPassword && user.password !== user.confirmPassword">
        Password and confirm password should be the same.
     </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid"
        (click)="onSubmit(registerForm)">
        Register
      </button>
    </div>
    
  </form>
</div>
