<div class="container mt-5">
  <!-- SuccessMessage and Error message -->
  <div *ngIf="showSuccessMessage" class="alert alert-success">User raised an issue!</div>
  <div *ngIf="showErrorForDuplicateIssue" class="alert alert-danger">An open issue of the same type has already been raised by this associate.</div>
  
   <h2 class="text-center">Raise Issues </h2>
   <form #registerForm="ngForm" (ngSubmit)="raiseIssue()">
         <div class="form-group">  
          <label for="associateId">Associate ID</label>
          <input type="text" id="associateId" class="form-control" [(ngModel)]="User.associateId" name="associateId" disabled />
        </div>
        
         <!-- Issue Type -->
         <div class="form-group">
           <label for="issueType">Issue Type<span style="color: red">*</span></label>
           <select id="issueType" placeholder="Enter Issue Type " custom-select className="form-select" #issueType="ngModel" [(ngModel)]="User.issueType" name="issueType"  required>
             <option  value=""  disabled>Select an issue type</option>
             <option value="Slowness">Slowness</option>
             <option value="Interruption">Interruption</option>
             <option value="Others">Others</option>
           </select>
           <div class="text-danger" *ngIf="(issueType.invalid && (issueType.touched || issueType.dirty)) || isFormSubmited">
             <span *ngIf="issueType.errors?.['required']">Required</span>
           </div>
         </div>

       <div class="form-group">  
           <!-- Summary of Issue -->
           <label for="issueSummary">Summary of Issue</label>
           <input type="text" id="issueSummary" class="form-control" #issueSummary="ngModel" [(ngModel)]="User.issueSummary"
             name="issueSummary" required placeholder="Enter Issue Type " minlength="3" required />
            
           <div class="text-danger" *ngIf="
               (issueSummary.invalid && (issueSummary.touched || issueSummary.dirty)) ||
               isFormSubmited
             ">
             <span *ngIf="issueSummary.errors?.['required']">Required</span>
             <span *ngIf="issueSummary.errors?.['minlength']">Min 3 Charactors Needed </span>
           </div>
         </div>

       <div class="form-group">  
           <!-- Issue description -->
           <label for="description">Issue Description<span style="color: red">*</span></label>
           <textarea type="text" id="description" class="form-control" #description="ngModel" [(ngModel)]="User.description"
           name="description" required placeholder="Enter Issue Type " minlength="3" required></textarea>
           <div class="text-danger" *ngIf="
               (description.invalid && (description.touched || description.dirty)) ||
               isFormSubmited
             ">
             <span *ngIf="description.errors?.['required']">Required</span>
             <span *ngIf="description.errors?.['minlength']">Min 3 Charactors Needed </span>
           </div>
         </div>

       <div class="form-group">   
           <!-- Source IP -->
           <label for="Source IP">Source IP<span style="color: red">*</span></label>
           <input type="text" id="sourceIP" class="form-control" #sourceIP="ngModel" [(ngModel)]="User.sourceIP"
             name="sourceIP" required placeholder="Enter Source IP " pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" required />
            
           <div class="text-danger" *ngIf="
               (sourceIP.invalid && (sourceIP.touched || sourceIP.dirty)) ||
               isFormSubmited
             ">
             <span *ngIf="sourceIP.errors?.['required']">Required</span>
             <span *ngIf="sourceIP.errors?.['pattern']">Enter valid IP address!</span>
           </div>
         </div>
       <div class="form-group">  
           <!-- Source IP -->
           <label for="destinationIP">Destination IP<span style="color: red">*</span></label>
           <input type="text" id="destinationIP" class="form-control" #destinationIP="ngModel" [(ngModel)]="User.destinationIP"
             name="destinationIP" required placeholder="Enter Issue Type " pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" required />
            
           <div class="text-danger" *ngIf="
               (destinationIP.invalid && (destinationIP.touched || destinationIP.dirty)) ||
               isFormSubmited
             ">
             <span *ngIf="destinationIP.errors?.['required']">Required</span>
             <span *ngIf="destinationIP.errors?.['pattern']">Enter valid IP address!</span>
           </div>
         </div>

         <div class="form-group">
           <label for="vpn">VPN<span style="color: red">*</span></label>
           <select id="vpn" custom-select className="form-select" #vpn="ngModel" [(ngModel)]="User.vpn" name="vpn" required>
            
             <option value="" disabled>Select a VPN</option>
             <option value="VPN-1">VPN-1</option>
             <option value="VPN-2">VPN-2</option>
           </select>
        
           <div class="text-danger" *ngIf="(vpn.invalid && (vpn.touched || vpn.dirty)) || isFormSubmited">
             <span *ngIf="vpn.errors?.['required']">Required</span>
           </div>
         </div>
        

         <!-- Mode Of Connectivity -->
       <div class="form-group">  
           <label for="connectivity">Mode Of Connectivity<span style="color: red">*</span></label>
            <select id="connectivity" className="form-select" #connectivity="ngModel" [(ngModel)]="User.connectivity" name="connectivity" required>
               <option value="" disabled>Select The Connectivity</option>
               <option value="Home">Home</option>
               <option value="Office">Office</option>
             </select>
           <div class="text-danger" *ngIf="
               (connectivity.invalid && (connectivity.touched || connectivity.dirty)) ||
               isFormSubmited
             ">
             <span *ngIf="connectivity.errors?.['required']">Required</span>
           </div>
         </div>
      
       <div class="form-group">  
           <label for="impactes">No Of Users Impacted</label>
           <input type="text" id="impactes" class="form-control" #impactes="ngModel" [(ngModel)]="User.impactes"
             name="impactes" required placeholder="1 " required disabled="" />

         </div>

       <div class="form-group">  
           <!-- Status -->
           <label for="status">Status</label>
           <input type="text" id="status" class="form-control" #status="ngModel" [(ngModel)]="User.status"
             name="status" required placeholder="Open"  required disabled=""/>
           
         </div>


         <!-- Date and Time -->
         <div class="form-group">  
           <label for="datetime">Date and Time<span style="color: red">*</span></label>
           <span id="currentDateTime" class="form-control">{{ User.datetime | date:'medium' }}</span>
           <div class="text-danger" *ngIf="!User.datetime && isFormSubmited">
             <span>Date and Time Required</span>
           </div>
         </div>
        
        
        

       <!-- Submit Button (centered) -->
       <div class="text-center">
     <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid"
       (click)="onSubmit(registerForm)">
       Submit
     </button>
   </div>
  
   </form>
</div>
